
body{
  background-color:rgb(222, 227, 230);
  box-sizing:content-box;
  border-radius: inherit;

}

.header{
  font-style: oblique;
  font-family:fantasy;
  margin-left: 150px;

}

.base-container {
  margin: 100px auto;
  width: 400px;
  border-style:ridge;
  border-color:lemonchiffon;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  position: relative;
  border-radius: 10px;
  height: 500px;
  display:block;
  grid-template-columns: 1fr 1fr;

    }

      .image {
        width: 21em;}
        img {
          margin-bottom:4px;
          margin-left: 145px;
          position:relative;
          width: 40%;
          height: 150%;
        }
        label {
          margin-right : 10px;
          margin-left: 30px;
     }
          input[type=text] {
            font: size 15px;
            width: 40%;
            padding: 10px 20px;
            box-sizing:content-box  ;
            border: none;
            border-radius: 15px;
            background-color: rgb(255, 249, 249);
            color: rgb(10, 10, 10);
            font-family: Arial, Helvetica, sans-serif;
           
                       }
            
            input[type=password] {
              margin-left : 20px;
              width: 40%;
              padding: 10px 20px;
              box-sizing:content-box;
              border: none;
              border-radius: 15px;
              background-color: rgb(255, 249, 249);
              color: rgb(10, 10, 10);
              font-family: Arial, Helvetica, sans-serif;}
    

   input[type=submit] {

  background-color:rgb(109, 144, 238);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin: 4px 2px;
  /* cursor: pointer; */
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
   }


   .text-danger{
   font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: red;
 font-size: 16px;
   }

  .bg_iamge{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 25px;
font-style:oblique;
background-color:lightpink;
 

  }
   .signUp{
    
      background-color:rgb(222, 227, 230);
      box-sizing:content-box;
      border-radius: inherit;
      font-style: oblique;
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin-left: 150px;}

   label{

    margin-right : 10px;
    margin-left: 30px;
}

   
input[type=text] {
  font: size 15px;
  width: 40%;
  padding: 10px 20px;
  box-sizing:content-box  ;
  border: none;
  border-radius: 15px;
  background-color:white;
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
   }
  
  

  input[type=password] {
    margin-left : 30px;
    width: 40%;
    padding: 10px 20px;
    box-sizing:content-box;
    border: none;
    border-radius: 15px;
    background-color:white;
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;}


 .btn{

  background-color:lightblue;
  
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin: 4px 2px;
  /* cursor: pointer; */
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 300px;
   
 }



   